.filter-settings{
    display: flex;
}


.line-with-text {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.line-with-text span {
    background-color: white; /* Match the background color */
    padding: 0 30px; /* Adjust the horizontal spacing around the text */
    position: relative;
    z-index: 1; /* Ensures the text appears above the line */
}

.line-with-text:before,
.line-with-text:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px; /* Adjust the thickness of the line here */
    background: black; /* Adjust the color of the line here */
}

.line-with-text:before {
    left: 0;
}

.line-with-text:after {
    right: 0;
}
